<%= form_with(model: component, local: true) do |form| %>
  <% if component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :component_type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :component_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :component_description %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :component_brand %>
  </div>

  <div class="field">
    <%= form.label :sizes %>
    <%= form.text_field :sizes, id: :component_sizes %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material, id: :component_material %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
