<%= form_with(model: bycicle, local: true) do |form| %>
  <% if bycicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bycicle.errors.count, "error") %> prohibited this bycicle from being saved:</h2>

      <ul>
      <% bycicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :bycicle_brand %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material, id: :bycicle_material %>
  </div>

  <div class="field">
    <%= form.label :components %>
    <%= form.text_field :components, id: :bycicle_components %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :bycicle_price %>
  </div>

  <div class="field">
    <%= form.label :use_type %>
    <%= form.text_field :use_type, id: :bycicle_use_type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :bycicle_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
